# Семинар по бинарной линейной классификации

## Теоретическая часть

### Предсказания в бинарной линейной классификации
__Вспомнить из лекции:__
* Как выполняются предсказания в бинарной линейной классификации?
* Как интерпретировать веса?
* Вспомните обозначения $\langle \cdot, \cdot \rangle$, $sign(z)$, $[z>a]$.

#### Задача 1.
Какое предсказание вернет бинарный линейный классификатор $a(x) = sign(\langle w, x \rangle+w_0)$ для объекта $x=(1, 0, 0, 1, 1)$ при использовании весов $w=(0.1, -0.2, 0.5, -1.1, 0)$ и $w_0=0.35$?

__Решение.__
Запишем скалярное произведение: $\langle w, x \rangle = w_1 x_1 + \dots + w_d x_d$, где $d$ - размерность обоих векторов (число признаков). В нашей задаче $d=5$. Итак, в скобках получится значение $0.1\cdot1 - 0.2\cdot0 + 0.5\cdot 0 -1.1 \cdot 1 + 0 \cdot 1 + 0.35 = -0.65$. Его знак отрицательный, значит $a(x) = -1$.

#### Задача 2.
Визуализируйте разделящую поверхность классификатора $a(x) = sign(\langle w, x \rangle+w_0)$ для $w=(-1, 2)$, $w_0=0.5$, задача бинарной классификации с двумя признаками.

__Решение.__

Предсказания в линейной классификации выполняются по формуле $a(x) = sign(\langle w, x\rangle +w_0)$, то есть класс +1, если выражение в скобках больше 0, и -1, если выражение в скобках меньше 0. Если выражение в скобках равно 0, считаем, что отказываемся от классификации или выбираем случайный класс (на практике такая ситуация встречается очень редко). Соответственно, мы можем сделать такое предсказание в каждой точке признакового пространства, то есть для любого возможного объекта, и получить области классов +1 и -1. Разделяющей границей этих двух областей будет прямая, поэтому классификация линейная.

Разберемся, почему разделяющей границей будет прямая. Вспомним, что уравнение $w_1 x_1 + w_2 x_2 + w_0 = 0$ задает прямую на плоскости в координатах $x_1-x_2$ (мы обычно обозначаем эти координаты $d_1-d_2$, чтобы не путать $x_1$ - первый признак или первый объект в выборке; в данном контексте - первый признак). Все точки $x=(x_1, x_2)$, для которых $w_1 x_1 + w_2 x_2 + w_0 > 0$, находятся с одной стороны от прямой, а все точки, для которых $w_1 x_1 + w_2 x_2 + w_0 < 0$, с другой стороны от прямой. А эти два условия как раз и проверяются в бинарном линейной классификаторе.

В нашем случае прямая задается уравнением $-x_1 + 2 x_2 + 0.5 = 0$. Построим ее по точкам: при $x_1=0$ выполнено $2 x_2+0.5=0$, то есть $x_2=-1/4$; при $x_1=1$ выполнено $2 x_2 -0.5=0$, то есть $x_2=1/4$. Проводим прямую через точки $(0, -1/4)$ и $(1, 1/4)$. Теперь выбираем любую точку, не принадлежащую прямой, например $(0, 1/4)$. Проверяем, какой будет знак выражения $-x_1 + 2 x_2 + 0.5$: $0 + 0.5 + 0.5 = 1 > 0$. Значит, в полуплоскости, где находится эта точка, мы предсказываем класс +1, а в другой - класс -1.

### Вспомнить из лекции
* Какие метрики бинарной классификации вы знаете?
* Какие проблемы есть у метрики accuracy? в каких случаях она нам не подходит?
* Что такое матрица ошибок?

## Практическая часть
В практической части мы обучим линейный классификатор на данных кредитного скорринга, проанализируем веса модели, научимся работать с категориальными признаками в линейных моделях. Далее поработаем с метриками, сравних их между собой и найдем оптимиальные гиперпараметры в модели.

In [1]:
import pandas as pd

Мы будем работать с [данными клиентов банка](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data) (задача кредитного скоринга). Для целей семинара данные были преобразованы в немного другой формат.

Значение признаков:
* account: банковский счет (-1: отриц. баланс, 0: нет счета, 1: до 200 ед., 2: более 200 ед.)
* duration: на какой период запрашивают кредит
* credit_history: рейтинг по кредитной истории (от 0 - отличная кр. история до 4 - критическая ситуация с кредитами)
* amount: на какую сумму запрашивают кредит
* savings: сберегательный счет (0: нет, 1: < 100, 2: 100 <= ... < 500, 3: 500 <= ... < 1000, 4:  >= 1000)
* employment: срок работы на текущей позиции (0: не работает, 1: до 1 года, 2: от 1 до 4 лет, 3: от 4 до 7 лет, 4: более 7 лет)
* guarantors: 1 - есть поручители, 0 - нет
* residence:  сколько лет резидент
* age: возраст, деленный на 100
* credits_number: число кредитов
* job: 0: не работает, 1: неквалифицированный, 2: квалифицированный специалист, 3: высокая должность или бизнес
* maintenance_people: число людей, которых обеспечивает заемщик
* telephone: указан ли телефон (1: да, 0: нет)
* foreign: 1: иностранец, 0: нет
* real_estate: 1: есть недвижимость, 0: нет недвижимости
* life_insurance: 1: оформлено страхование жизни, 0, нет страховки
* car: 1: есть автомобиль, 0: нет автомобиля
* housing_rent: 1: платит за съем жилья, 0: не платит за съем жилья
* sex: пол - 1: муж., 0: жен.
* purpose: на какую цель запрашивают кредит (из нескольких вариантов)
* target: 1: кредит выдан, 0: в кредите отказано

Требуется решить задачу предсказания значения в последнем столбце, то есть задачу бинарной классификации.

По описанию данных понятно, что все признаки числовые (включая вещественные, порядковые, бинарные), кроме предпоследнего, который является категориальным.

In [2]:
#!pip install xlrd

In [3]:
tab = pd.read_excel("https://github.com/nadiinchi/voronovo_seminar_materials/blob/master/base_track/seminars/scoring.xls?raw=true")

In [4]:
type(tab)

pandas.core.frame.DataFrame

In [5]:
tab.head() # вывести первые строки

,account,duration,credit_history,amount,savings,employment,guarantors,residence,age,credits_number,...,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,purpose,target
0,1,0.18,2,0.13110,2,2,1,4,0.34,1,...,1,0,1,0,0,1,0,1,business,1
1,-1,0.18,0,0.15520,1,3,1,1,0.31,1,...,1,1,1,0,1,0,0,1,business,1
2,-1,0.12,2,0.04510,1,3,1,4,0.21,1,...,1,0,1,0,1,0,1,1,retraining,0
3,-1,0.30,0,0.40360,0,1,1,3,0.25,3,...,1,0,1,0,0,1,0,1,business,1
4,0,0.36,2,0.09095,1,2,1,4,0.37,1,...,1,1,1,0,0,0,0,1,education,0

По строкам - объекты (клиенты), по столбцам - признаки, последний столбец - целевая переменная (1 - кредит выдан, 0 - в кредите отказано).

In [6]:
tab.dtypes # типы столбцов

account                 int64
duration              float64
credit_history          int64
amount                float64
savings                 int64
employment              int64
guarantors              int64
residence               int64
age                   float64
credits_number          int64
job                     int64
maintenance_people      int64
telephone               int64
foreign                 int64
real_estate             int64
life_insurance          int64
car                     int64
housing_rent            int64
sex                     int64
purpose                object
target                  int64
dtype: object

Признаки в основном числовые.

In [7]:
tab["target"].value_counts()

1    300
0    300
Name: target, dtype: int64

Классы сбалансированы.

Создаем матрицу объекты-признаки и матрицу ответов. Удалим пока столбец с категориальной переменной, чтобы оставить только числовые признаки.

In [8]:
X = tab[tab.columns[:-2]]
y = tab["target"]

In [9]:
print(X.amount.mean()), print(X.amount.std())
#x_amount_i - X.amount.mean()) / X.amount.std()

0.17352458333333337
0.15450260934252577

(None, None)

In [10]:
X.head()

,account,duration,credit_history,amount,savings,employment,guarantors,residence,age,credits_number,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex
0,1,0.18,2,0.13110,2,2,1,4,0.34,1,2,1,0,1,0,0,1,0,1
1,-1,0.18,0,0.15520,1,3,1,1,0.31,1,2,1,1,1,0,1,0,0,1
2,-1,0.12,2,0.04510,1,3,1,4,0.21,1,2,1,0,1,0,1,0,1,1
3,-1,0.30,0,0.40360,0,1,1,3,0.25,3,2,1,0,1,0,0,1,0,1
4,0,0.36,2,0.09095,1,2,1,4,0.37,1,2,1,1,1,0,0,0,0,1

In [11]:
X.shape, y.shape # атрибут shape показывает размерности матрицы

((600, 19), (600,))

#### Разделение выборки

In [12]:
from sklearn.model_selection import train_test_split
# функция для разделения выборки на обучающую и тестовую

In [13]:
X_train, X_test, y_train, y_test  = train_test_split(X, y, 
                                                     test_size=0.3,
                                                     shuffle=True,
                                                     random_state=0) #70% train, 30% test

In [14]:
y_train.value_counts()

1    222
0    198
Name: target, dtype: int64

In [15]:
y_test.value_counts()

0    102
1     78
Name: target, dtype: int64

In [16]:
X_train.shape, y_train.shape

((420, 19), (420,))

#### Нормируем данные

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#### Импортируем класс модели

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
from sklearn.metrics import accuracy_score # функция оценки качества

In [21]:
clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)

LinearRegression()

In [22]:
y_pred = clf_lr.predict(X_test)

In [23]:
y_pred

array([ 0.20239523,  0.93202397,  0.63928477,  0.4280968 ,  0.23546712,
        0.50280259,  0.6812352 ,  0.31915892,  0.69772332,  0.69749409,
        0.90581779,  0.36766266,  0.53508448,  0.19520073,  0.33208213,
        0.49769825,  0.61258381,  0.63868376,  0.74173359,  0.46710464,
        0.61614314,  0.57101904,  0.48132787,  0.50592824,  0.26875261,
        0.52583493,  0.60926973,  0.57703641,  0.5110611 ,  0.23954412,
        0.70803535,  0.58811523,  0.23798662,  0.63267848,  0.43140647,
        0.64040732,  0.33795007,  0.62272962,  0.47936858,  0.33442675,
        0.51569969,  0.74434892,  0.63244922,  0.42614249,  0.46458611,
        0.4031056 ,  0.12272322,  0.52491486,  0.73014397,  0.04458303,
        0.61320574,  0.53735582,  0.66298174,  0.6207524 ,  0.4954895 ,
        0.73235211,  0.77829743,  0.7529239 ,  0.3531703 ,  0.38186039,
        0.70825041,  0.41622644,  0.80218376,  0.49556651,  0.32837647,
        0.32135647,  0.42705605,  0.52294331,  0.29882762,  0.25176869,
        0.42045538,  0.82837832,  0.71590127,  0.51981822,  0.32805082,
        0.08150777,  0.45302131,  0.62083631,  0.52599144,  0.35222641,
        0.67138438,  0.19161858,  0.62340727,  0.63398962,  0.17066117,
        0.51581146,  0.6726983 ,  0.38287233,  0.19428868,  0.91311167,
        0.69194642,  0.43898241,  0.7015846 ,  0.56804265,  0.53275643,
        0.56191488,  0.54039007,  0.65219219,  0.63613076,  0.65705222,
        0.83092578,  0.71474242, -0.01024405,  0.50966694,  0.73080325,
        0.67353874,  0.55831728,  0.69551377,  0.13129008,  0.6645486 ,
        0.42366124,  1.03241304,  0.58482972,  0.23879277,  0.71555021,
        0.62966551,  0.60062737,  0.32578307,  0.8515198 ,  0.47691152,
        0.59934404,  0.78861865,  0.531836  ,  0.65382408,  0.04866602,
        0.51591903,  0.44814171,  0.60940765,  0.5270754 ,  0.34798284,
        0.32473985,  0.71388354,  0.68158866,  0.50074709,  0.31823404,
        0.13361499,  0.61375423,  0.96645716,  0.54514758,  0.60027604,
        0.88425275,  0.91592156,  0.64629784,  0.93978916,  0.56617119,
        0.43383328,  0.87214737,  0.48654886,  0.70444362,  0.81520196,
        0.31160219,  0.46261856,  0.96170617,  0.00198123,  0.87918605,
        0.60857601,  0.60211062,  0.68988769,  0.88450269,  0.43493032,
        0.21737341,  0.25858497,  0.43860474,  0.99035132,  0.68637781,
        0.37067012,  0.66071694,  0.53931723,  0.546715  ,  0.38168928,
        0.47517587,  0.1001366 ,  0.77462934,  0.45098345,  0.69162145,
        0.45884744,  0.57323276,  0.7165862 ,  0.51354783,  0.75854626])

In [24]:
accuracy_score(y_test, y_pred > 0.5)

0.6388888888888888

#### Важности и веса признаков
Большинство алгоритмов умеют так или иначе оценивать важности признаков. 
В линейной модели в качестве важностей можно рассматривать веса признаков. Они хранятся в атрибуте coef\_ и появляются, конечно, только после вызова процедуры обучения.

In [25]:
clf_lr.intercept_ #w_0

0.5285714285714286

In [26]:
tab.head(1)

,account,duration,credit_history,amount,savings,employment,guarantors,residence,age,credits_number,...,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,purpose,target
0,1,0.18,2,0.1311,2,2,1,4,0.34,1,...,1,0,1,0,0,1,0,1,business,1

In [27]:
clf_lr.coef_

array([ 0.03344627, -0.0779239 ,  0.08754819, -0.02066605,  0.03067396,
        0.06774134, -0.00975411,  0.00109616,  0.0185817 , -0.04661195,
        0.00099741, -0.00569433,  0.01735849, -0.03505761,  0.06359324,
       -0.0134745 ,  0.06344944, -0.0416773 ,  0.05088774])

__Задание.__ Оформить веса признаков в виде датафрейма: первый столбец - имя признака, второй столбец - вес, и отсортировать датафрейм по увеличению веса.

__Решение:__

In [28]:
X.columns

Index(['account', 'duration', 'credit_history', 'amount', 'savings',
       'employment', 'guarantors', 'residence', 'age', 'credits_number', 'job',
       'maintenance_people', 'telephone', 'foreign', 'real_estate',
       'life_insurance', 'car', 'housing_rent', 'sex'],
      dtype='object')

In [29]:
coeffs = pd.DataFrame({'feature_name' : X.columns, 'weights' : clf_lr.coef_})
coeffs.sort_values(by=['weights'])

          feature_name   weights
1             duration -0.077924
9       credits_number -0.046612
17        housing_rent -0.041677
13             foreign -0.035058
3               amount -0.020666
15      life_insurance -0.013474
6           guarantors -0.009754
11  maintenance_people -0.005694
10                 job  0.000997
7            residence  0.001096
12           telephone  0.017358
8                  age  0.018582
4              savings  0.030674
0              account  0.033446
18                 sex  0.050888
16                 car  0.063449
14         real_estate  0.063593
5           employment  0.067741
2       credit_history  0.087548

Признаки отсортировались по логичным критериям: плата за съем жилья, число кредитов, заемщик-иностранец уменьшают шанс получить кредит; наличие собственности, машины, работы, счета в банке - увеличивают шансы.

Впрочем, некоторые признаки отсортировались менее логично: например, наличие поручителя тоже голосует в "минус", хотя и с маленьким весом.

__Обратите внимание:__ интерпретировать величину весов можно, только если данные отнормированы. Иначе модуль веса будет зависеть от масштаба признака.

#### Работа с категориальным признаком

Применим метод one-hot-encoding к переменной "цель получения кредита", чобы включить ее в модель. Для этого воспользуемся функцией pd.get_dummies

In [30]:
tab_ohe = pd.get_dummies(tab, "purpose")

In [31]:
tab_ohe.head()

,account,duration,credit_history,amount,savings,employment,guarantors,residence,age,credits_number,...,purpose_business,purpose_car_new,purpose_car_used,purpose_domestic_appliances,purpose_education,purpose_furniture,purpose_others,purpose_repairs,purpose_retraining,purpose_television
0,1,0.18,2,0.13110,2,2,1,4,0.34,1,...,1,0,0,0,0,0,0,0,0,0
1,-1,0.18,0,0.15520,1,3,1,1,0.31,1,...,1,0,0,0,0,0,0,0,0,0
2,-1,0.12,2,0.04510,1,3,1,4,0.21,1,...,0,0,0,0,0,0,0,0,1,0
3,-1,0.30,0,0.40360,0,1,1,3,0.25,3,...,1,0,0,0,0,0,0,0,0,0
4,0,0.36,2,0.09095,1,2,1,4,0.37,1,...,0,0,0,0,1,0,0,0,0,0

In [32]:
# удаляем целевую переменную с помощью метода drop
X_ohe = tab_ohe.drop("target", axis=1)
# axis=1 показывает, что мы отим удалить столбец, а не строку (axis=0)

In [33]:
X_train_ohe, X_test_ohe, y_train, y_test  = train_test_split(X_ohe, y, \
                                                     test_size=0.3,\
                                                     shuffle=True,
                                                     random_state=0)

In [34]:
scaler = StandardScaler()
X_train_ohe = scaler.fit_transform(X_train_ohe)
X_test_ohe = scaler.transform(X_test_ohe)

Благодаря фиксации random_state=0 мы получаем одно и то же разделение.

Оформим обучение классификатора и подсчет качества в виде функции:

In [35]:
def get_accuracy(clf):
    clf.fit(X_train_ohe, y_train)
    y_pred = clf.predict(X_test_ohe)
    return accuracy_score(y_test, y_pred > 0.5)

In [36]:
print(get_accuracy(clf_lr))

0.6611111111111111

Качество с новым признаком повысилось.

А что, если мы просто пронумеруем категории? Для этого воспользуемся классом LabelEncoder:

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()
tab["purpose"] = le.fit_transform(tab["purpose"])

In [39]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   account             600 non-null    int64
 1   duration            600 non-null    float64
 2   credit_history      600 non-null    int64
 3   amount              600 non-null    float64
 4   savings             600 non-null    int64
 5   employment          600 non-null    int64
 6   guarantors          600 non-null    int64
 7   residence           600 non-null    int64
 8   age                 600 non-null    float64
 9   credits_number      600 non-null    int64
 10  job                 600 non-null    int64
 11  maintenance_people  600 non-null    int64
 12  telephone           600 non-null    int64
 13  foreign             600 non-null    int64
 14  real_estate         600 non-null    int64
 15  life_insurance      600 non-null    int64
 16  car                 600 non-null    int64
 17  housing_rent        600 non-null    int64
 18  sex                 600 non-null    int64
 19  purpose             600 non-null    int64
 20  target              600 non-null    int64
dtypes: float64(3), int64(18)
memory usage: 98.6 KB

In [40]:
X_le = tab[tab.columns[:-1]]

In [41]:
X_train_le, X_test_le, y_train, y_test  = train_test_split(X_le, y, \
                                                     test_size=0.3,\
                                                     shuffle=True,
                                                     random_state=0)

In [42]:
scaler = StandardScaler()
X_train_le = scaler.fit_transform(X_train_le)
X_test_le = scaler.transform(X_test_le)

In [43]:
def get_accuracy(clf):
    clf.fit(X_train_le, y_train)
    y_pred = clf.predict(X_test_le)
    return accuracy_score(y_test, y_pred > 0.5)

In [44]:
print(get_accuracy(clf_lr))

0.65

Посчитаем метрики нашей модели. Метрики разобранные на лекции уже реализованы в библиотеке scikit-learn.

In [45]:
from sklearn.metrics import precision_score, recall_score, confusion_matrix, f1_score

In [46]:
confusion_matrix(y_test, y_pred > 0.5)

array([[53, 49],
       [16, 62]])

In [47]:
precision_score(y_test, y_pred > 0.5)

0.5585585585585585

In [48]:
recall_score(y_test, y_pred > 0.5)

0.7948717948717948

In [49]:
f1_score(y_test, y_pred > 0.5)

0.656084656084656

Порог 0.5 мы выбрали самостоятельно, и мы можем его менять. Как увелечиение порога отразится на precision/recall?

На практике, перед нами всегда встает трейдофф - потерять часть сигнала взамен на большую точность или получить false positives взамен на больший recall.

Постройте на одном графике precision, recall и f1 score в зависимости от порога.

Какой порог соответствует максимизации f1 score?

Обучите линейную регрессию с регуляризацией и подберите параметр регуляризации исходя из максимального f1-score.